.sidepanel {
    display: flex;
    justify-content: space-between;
    position: fixed;
    transform: rotate(-90deg);
    right: -200px;
    width: 500px;
    top: 300px;
    z-index: 15;
    &__social {
        width: 120px;
        display: flex;
        justify-content: space-between;
        a {
            img {
                height: 20px;
                transform: rotate(90deg);
            }
        }
    }
    &__text {
        font-family: Spartan;
        font-size: 10;
        font-weight: 700;
        color: rgba(11, 12, 17, 0.2);
    }
}