.sidepanel {
    display: flex;
    justify-content: space-between;
    position: fixed;
    transform: rotate(-90deg);
    right: -200px;
    width: 500px;
    top: 300px;
    z-index: 15;
    &__social {
        width: 120px;
        display: flex;
        justify-content: space-between;
        a {
            svg {
                height: 20px;
                transform: rotate(90deg);
                g {
                    fill: #d1d1d1;
                }
                #twitter {
                    g:hover {
                        transition: .3s all;
                        fill: #55ACEE;
                    }
                }
                #vimeo {
                    g:hover {
                        transition: .3s all;
                        fill: #19B7EA;
                    }
                }
                #tumblr {
                    g:hover {
                        transition: .3s all;
                        fill: #34526f;
                    }
                }
            }
        }
    }
    &__text {
        font-family: Spartan;
        font-size: 10;
        font-weight: 700;
        color: #d1d1d1;
    }
}