.footer {
    margin-top: 100px;
    position: relative;
    z-index: 10;
    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-header {
        margin-right: 116px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__logo {
            display: flex;
            justify-content: center;
        }
        &__menu {
            margin-top: 40px;
        }
    }
    &-social {
        width: 150px;
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
        a {
            svg {
                height: 20px;
                g {
                    fill: #d1d1d1;
                }
                #twitter {
                    g:hover {
                        transition: .3s all;
                        fill: #55ACEE;
                    }
                }
                #vimeo {
                    g:hover {
                        transition: .3s all;
                        fill: #19B7EA;
                    }
                }
                #tumblr {
                    g:hover {
                        transition: .3s all;
                        fill: #34526f;
                    }
                }
            }
        }
    }
}