.lines {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 1333px;
    height: 100%;
    z-index: 0;
    }
    span {
        width: 1px;
        position: relative;
        z-index: -1;
        // height: 100%;
        // background-color: #58585811;
        background-color: rgb(241, 92, 92);
        &:nth-child(2) {
            margin-left: -55px;
            margin-right: -62px;
    }
}