.shop {
    padding-top: 90px;
    background: url(../img/background/shop_bg.jpg) center center / cover no-repeat;
    &__title {
        height: 8px;
        font-family: Spartan;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 5.4px;
        text-align: center;
        color: $main-color;
        text-transform: uppercase;
        margin: 0 auto;
        padding-right: 110px;
        position: relative;
        z-index: 5;
    }
    &__subtitle {
        font-family: 'Playfair Display';
        font-size: 42px;
        font-weight: 700;
        letter-spacing: 0.42px;
        text-align: center;
        color: #333333;
        margin: 0 auto;
        margin-top: 10px;
        padding-right: 115px;
        position: relative;
        z-index: 5;
        
    }
    &-wrapper {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto;
        justify-items: center;
        grid-row-gap: 50px;
        margin-top: 20px;
        transition: 3s all;
    }
    &-cards {
        width: 364px;
        height: 500px;
        margin-left: 15px;
        position: relative;
        &__square {
            width: 250px;
            height: 320px;
            background-color: #e8e8e8;
            position: absolute;
            bottom: 0px;
            z-index: 1;
        }
        &__img {
            position: absolute;
            bottom: 25px;
            z-index: 5;
            img {
                height: 100%;
                width: 100%;
            }
        }
        &__board-series {
            font-family: Poppins;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 2.4px;
            text-align: left;
            color: #7a7a7a;
            text-transform: uppercase;
            position: absolute;
            z-index: 5;
            left: 215px;
            top: 250px;
        }
        &__board-name {
            width: 190px;
            font-family: 'Playfair Display';
            font-size: 26px;
            line-height: 1.08;
            letter-spacing: 0.26px;
            text-align: left;
            color: #333333;
            z-index: 5;
            position: absolute;
            left: 215px;
            top: 274px;
        }
        &__board-price {
            font-family: Poppins;
            font-size: 20px;
            font-weight: 300;
            letter-spacing: -0.1px;
            text-align: left;
            color: #ce60a8;
            position: absolute;
            z-index: 5;
            left: 270px;
            top: 330px;
        }
        &__board-buy {
            font-family: Spartan;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 5.4px;
            text-align: left;
            color: #333333;
            text-transform: uppercase;
            position: absolute;
            z-index: 5;
            left: 270px;
            top: 360px;
            &:hover {
                text-decoration: none;
                color: $main-color;
            }
        }
    }
    &__show-cards {
        display: block;
        margin: 0 auto;
        margin-top: 25px;
        font-family: Spartan;
        font-size: 9px;
        font-weight: 700;
        letter-spacing: 5.4px;
        text-align: center;
        color: #333333;
        text-transform: uppercase;
        z-index: 5;
        position: relative;
        padding-right: 113px;
        &:hover {
            text-decoration: none;
            color: $main-color;
        }
    }
}